Repository TheFruxz/MoltenKT, pull requests merged in 2022-08, with the labels that each got.

#305 Reintroduce the idea of async generated canvas inventories
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/app/MoltenApp.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/app/component/ui/gui/ReactiveCanvasListener.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/extension/display/ui/Item.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/extension/mojang/MojangService.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/mojang/MojangProfile.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/structure/app/App.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/structure/app/AppCompanion.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/tool/display/canvas/Canvas.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/tool/display/canvas/MutableCanvas.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/tool/display/item/Item.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/tool/smart/KeyedIdentifiable.kt
Labels: Type: enhancement, State: verified, Relates: v1.0, From: user, In: MoltenKT-Paper

#315 feature: upgrade unfold to new context based structure
  MoltenKT-Core/build.gradle.kts
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/app/MoltenApp.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/app/interchange/MoltenKtInterchange.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/extension/paper/Block.kt
  MoltenKT-Unfold/src/main/kotlin/de/moltenKt/unfold/MoltenContext.kt
  MoltenKT-Unfold/src/main/kotlin/de/moltenKt/unfold/Unfold.kt
  MoltenKT-Unfold/src/main/kotlin/de/moltenKt/unfold/extension/Adventure.kt
  build.gradle.kts
Labels: Type: enhancement, From: user, In: MoltenKT-Unfold

#316 Add modern cooldown api
  MoltenKT-Core/build.gradle.kts
  MoltenKT-Core/src/main/kotlin/de/moltenKt/core/tool/timing/cooldown/Cooldown.kt
  MoltenKT-Core/src/main/kotlin/de/moltenKt/core/tool/timing/cooldown/PassiveCooldown.kt
  MoltenKT-Core/src/main/kotlin/de/moltenKt/core/tool/timing/cooldown/StaticCooldown.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/app/MoltenApp.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/app/MoltenCache.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/app/component/component/ComponentInterchange.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/app/component/marking/MarkingComponent.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/extension/Developer.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/extension/display/ui/Inventory.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/extension/paper/Bukkit.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/extension/paper/Keying.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/extension/tasky/Task.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/extension/timing/Cooldown.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/runtime/sandbox/SandBox.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/structure/command/Interchange.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/structure/command/completion/InterchangeStructure.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/structure/command/structured/StructuredConsoleInterchange.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/structure/command/structured/StructuredInterchange.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/structure/command/structured/StructuredPlayerInterchange.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/structure/component/Component.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/structure/service/Service.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/tool/display/color/ColorType.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/tool/display/color/DyeableMaterial.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/tool/display/item/Item.kt
  MoltenKT-Unfold/src/main/kotlin/de/moltenKt/unfold/Unfold.kt
  MoltenKT-Unfold/src/main/kotlin/de/moltenKt/unfold/extension/Keying.kt
Labels: Type: enhancement, State: verified, Relates: v1.0, From: user, In: MoltenKT-Core, In: MoltenKT-Paper, In: MoltenKT-Unfold

#320 #319 PlaceholderAPI Support for chat formating
  MoltenKT-Paper/build.gradle.kts
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/app/component/chat/ChatComponent.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/app/component/chat/ChatListener.kt
  MoltenKT-Paper/src/main/resources/plugin.yml
Labels: Type: enhancement, State: verified, Relates: v1.0, From: user, In: MoltenKT-Paper

#323 Some fixes and improvements
  MoltenKT-Core/src/main/kotlin/de/moltenKt/core/extension/container/Collection.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/app/component/app/AppInterchange.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/extension/display/Transmission.kt
  MoltenKT-Paper/src/main/kotlin/de/moltenKt/paper/tool/display/item/Item.kt
  MoltenKT-Paper/src/main/resources/plugin.yml
  MoltenKT-Unfold/src/main/kotlin/de/moltenKt/unfold/Unfold.kt
  MoltenKT-Unfold/src/main/kotlin/de/moltenKt/unfold/extension/ComponentCollection.kt
  build.gradle.kts
Labels: Type: bug, Type: enhancement, State: verified, Relates: v1.0, From: user, In: MoltenKT-Core, In: MoltenKT-Paper, In: MoltenKT-Unfold
